<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenschutzerklärung</title>
</head>
<body>
{% autoescape off %}
    {{ data_privacy }}
{% endautoescape %}
</body>
</html>