{% load static %}
{% load i18n %}

<html>
<head>
    <title>CAPTIVE PORTAL</title>
    <meta name="viewport" content="width=device-width, initialscale=1.0, maximum-scale=1.0, user-scalable=0">
    {% include "django_wifistack_wifi4eu/tracking_snippet.html" %}
</head>
<body bgcolor="#81DAF5">
<h1 style="text-align: left">CAPTIVE PORTAL</h1>
<p>{% translate "Please click the button to access the internet." %}</p>
<form action="/success/" method="post">
    {% csrf_token %}
    <input type="submit" value="{% translate "ENABLE ACCESS" %}"/>
</form>
<p>{% translate "This project is part of WiFi4EU." %}</p>
<img src="{% static 'wifi4eu/visuals_package/publication_and_social_media/WiFi4eu_-_FB_Cover.002.jpeg' %}"
     id="wifi4eubanner" alt="WiFi4EU LOGO">
<br>
<a href="{% url 'imprint' %}">{% translate "Imprint" %}</a> |
<a href="{% url 'data-privacy' %}">{% translate "Data Privacy" %}</a> |
<a href="{% url 'disclaimer' %}">{% translate "Disclaimer" %}</a>
<br>
&copy; 2022 by {{ company_name }}
</body>
</html>
