{% load static %}
{% load i18n %}

<html>
<head>
    <title>CAPTIVE PORTAL</title>
    <meta name="viewport" content="width=device-width, initialscale=1.0, maximum-scale=1.0, user-scalable=0">
    {% if portal_mode == "wifi4eu" %}
        <script type="text/javascript">
            window.close();
        </script>
        {% include "django_wifistack_wifi4eu/tracking_snippet.html" %}
    {% endif %}
    {% if portal_mode == "passthrough" %}
        <meta http-equiv="refresh" content="3; url={{ portal_passthrough_url }}"/>
    {% endif %}
</head>
<body bgcolor="#81DAF5">
<h1 style="text-align: left">CAPTIVE PORTAL</h1>
{% if portal_mode == "wifi4eu" %}
    <p>{% translate "Login completed. You can close the window now." %}</p>
    <p>{% translate "This project is part of WiFi4EU." %}</p>
    <img src="{% static 'wifi4eu/visuals_package/publication_and_social_media/WiFi4eu_-_FB_Cover.002.jpeg' %}"
         id="wifi4eubanner" alt="WiFi4EU LOGO">
{% else %}
    <p>{% translate "Please wait for redirect." %}</p>
{% endif %}
<br>
<img src="https://{{ hostname_ipv4 }}/request.gif" alt="Check_IPv4">
<img src="https://{{ hostname_ipv6 }}/request.gif" alt="Check_IPv6">
<a href="{% url 'imprint' %}">{% translate "Imprint" %}</a> |
<a href="{% url 'data-privacy' %}">{% translate "Data Privacy" %}</a> |
<a href="{% url 'disclaimer' %}">{% translate "Disclaimer" %}</a>
<br>
&copy; 2024 by {{ company_name }}
</body>
</html>
